# Optional Arduino-compatible EC11/KY-040 rotary encoder profile.
CONFIG_YORADIO_ROTARY_ENCODER=y
CONFIG_YORADIO_ROTARY_ENCODER_GPIO_A=0
CONFIG_YORADIO_ROTARY_ENCODER_GPIO_B=1
CONFIG_YORADIO_ROTARY_ENCODER_STEPS=4
CONFIG_YORADIO_ROTARY_ENCODER_PULLUP=y
# CONFIG_YORADIO_ROTARY_ENCODER_REVERSE is not set
CONFIG_YORADIO_ROTARY_ENCODER_BUTTON=y
CONFIG_YORADIO_ROTARY_ENCODER_BUTTON_GPIO=4
