# Apply after sdkconfig.defaults and sdkconfig.qemu.defaults.
CONFIG_YORADIO_QEMU_AAC_TEST=y
CONFIG_YORADIO_QEMU_AAC_BFP16_TEST=y
# CONFIG_YORADIO_CODEC_MEMORY_TRACE is not set
# CONFIG_YORADIO_QEMU_AAC_PROFILE is not set
# CONFIG_YORADIO_QEMU_CACHE_TEST is not set
