
idf\esp32c3-oled-native\build-constants-audit\yoradio_esp32c3_oled_native.elf:     file format elf32-littleriscv


Disassembly of section .iram0.text:

Disassembly of section .flash.text:

42027a52 <PVMP4AudioDecoderGetMemRequirements>:
42027a52:	6525                	lui	a0,0x9
42027a54:	a8450513          	addi	a0,a0,-1404 # 8a84 <CSR_UINTSTATUS+0x7dd3>
42027a58:	8082                	ret
